#message{
    height: 50px;
}
form{
    border-radius: 7px;
    padding: 10px 30px;
    margin-top: 10px;
    
    color: #000;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.195);
    max-width: 100%;
    
}
.btn-white{

}

.input-line-text[type="text"] {
    font-size: 1em;
    font-family: sans-serif;
    border: 0.5px solid #333;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }
  
  .input-line-text[type="text"]:focus {
    border-color: #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .input-line-text::placeholder {
    font-size: 1rem;
    color: #999;
    font-style: italic;
    font-weight: 300;
  }
  label {
    display: block;
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 10px;
    color: rgb(75, 71, 71);
  }