

.header-middle-area{
    padding: 20px 0;
}
.logo-img{
    height: 60px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}
.logo-img-mb{
    display: inline-block;
    height: 60px;
    margin: 10px;
    padding: 0px;
    border-radius: 50%;
}
.mobile-logo{
    display: inline-block;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo-text{
    font-family: "Work Sans", sans-serif;
    align-items: center;
    position: relative;
    top: 10px;
    left:10px;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 3px;
    color: rgba(84, 92, 191, 0.73);
}
#github-icon{
    font-size: 28px;
}